body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: #efefef;
  color: #131111;

  background-image: 
    repeating-linear-gradient(
      to right,
      #13111199 0px,
      #13111199 0.5px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      to bottom,
      #13111199 0px,
      #13111199 0.5px,
      transparent 1px,
      transparent 40px
    );
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131111;
  padding: 1rem 2rem;
  font-weight: bold;
  box-shadow: 0 2px 8px #13111199;
  position: sticky;
  top: 0;
}

.toptext {
  color:#3366ff;
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  color: #3366ff;
}

.hero {
  text-align: left;
  padding: 1rem 6rem;
}

.name {
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: 8rem;
  font-weight: bold;
  color: #131111;
}

.title {
  margin-top: 1rem;
  font-size: 2.2rem;
}

.box-title {
  font-size:2.2rem
}
.main-box {
  max-width: 70%;
  margin: 3rem auto;
  padding: 2rem;
  background: #efefef;
  border: 1px solid #131111;
  border-radius: 8%;
  box-shadow: 4px 4px 0 #131111;
  text-align: center;
}

.main-box h2 {
  font-size: 2.2rem;
  margin: 1rem;
}

.main-box p {
  font-size: 2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin: 10rem 0 8rem 0;
  flex-wrap: wrap; 
}

.hook {
  text-align: center;
}

.key-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.key {
  width: 220px; 
  height: auto;
  transition: transform 0.4s ease, filter 0.4s ease;
  transform-origin: top center;
}

.key-link:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 6px 6px #1311116a);
}

.key-link span {
  margin-top: 0.5rem;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border: 1px solid #131111;
  border-radius: 8%;   
  background: #efefef;   
  box-shadow: 2px 2px 0 #131111;
  display: inline-block;
}

.contact {
  text-align: center;
  color: #efefef;
  padding: 2rem;
  background: #131111;
  margin-top: 3rem;
  border-top: 1px solid #00000099;
}

.contact a {
  color: #3366ff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

  /*
  .key-link:hover .key {
    transform: rotate(10deg);
    filter: drop-shadow(0 6px 6px rgba(0,0,0,0.2));
  }
  
  .key-link span {
    margin-top: 0.5rem;
    font-weight: bold;
  }
  */

  /* Back navigation */
  .back-nav {
    padding: 1rem;
  }
  
  .back-key {
    font-weight: bold;
    color: #3366ff;
  }
  
.page-title {
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: bold;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px; 
  padding: 20px;
}

@media (max-width: 900px) {
  .wrapper2 {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .wrapper2 {
    grid-template-columns: 1fr; 
  }
}